<section class="Home-eventList HomeEventList">
  <header class="HomeEventList-header">
    <h1 class="HomeEventList-title">
      {{ name }}
    </h1>

    <form class="HomeEventList-archiveToggle">
      {% assign toggleId = name | id | concat: "-archive" %}
      <input id="{{ toggleId }}" type="checkbox">
      <label for="{{ toggleId }}">archive mode</label>
    </form>
  </header>

  <div class="HomeEventList-items">
    {{ content }}
  </div>
</section>
