@use "shared" as *;

.About {
  &-title {
    font-size: $font-size6;

    @include desktop {
      font-size: $font-size7;
    }
  }

  &-content {
    position: relative;
  }

  &-description {
    font-size: $font-size2;

    @include desktop {
      font-size: $font-size3;
    }
  }

  &-map {
    margin-top: $spacing3;
  }
}

.BoshiMap {
  position: relative;

  &-image {
    width: 100%;
  }

  &-address {
    position: absolute;
    bottom: 45%;
    left: 92%;
    padding: $spacing1;
    font-size: $font-size1;
    box-shadow: 10px 10px 20px $color-shadow-card;
    transform: translateX(-50%);

    @include desktop {
      font-size: $font-size2;
    }

    &:before {
      content: "";

      @include background($riso: 2, $color: $pink);
      @include fill();

      opacity: 0.9;
      z-index: -1;
      filter: blur(2px);
    }
  }

  &-addressText {
    white-space: pre;
  }
}
