@use "shared" as *;

$list: null;

.Events {
  // -- shared --
  *::selection {
    background-color: rgba($pink, 0.6);
  }

  // -- elements --
  &-title {
    position: relative;
    margin-left: -100px;
    font-size: $font-size5;
    text-shadow: $color-shadow-text 3px 0 4px;
    transform: rotate(-2deg);
    z-index: 1;

    @include desktop {
      font-size: $font-size6;
    }

    > dl {
      display: flex;

      > *:nth-child(1) {
        margin-top: 10px;
        transform: rotate(1deg);
      }

      > *:nth-child(2) {
        margin-left: 15px;
        transform: rotate(3deg);
      }

      > *:nth-child(3) {
        margin-left: -10px;
        margin-top: 40px;
        transform: rotate(2deg);

        dd {
          margin-top: -20px;
        }
      }

      > *:nth-child(4) {
        margin-left: 30px;
        margin-top: 60px;
        transform: rotate(-1deg);
      }
    }
  }

  $content: null;

  &-content {
    $content: &;

    display: flex;
    flex-direction: column;
    gap: $spacing5;
    margin-top: $spacing3;
    padding: $spacing3 $spacing4;
  }

  &-list {
    position: relative;
  }
}

.EventsWord {
  position: relative;

  &:hover {
    color: $blue0;
    z-index: 1;
  }

  &:hover &-text {
    animation: Jump 0.3s ease-in-out;
  }

  &--small dt {
    font-size: $font-size2;
  }

  dd {
    position: absolute;
    visibility: hidden;
    font-size: $font-size0;
    transform: rotate(calc(-3deg + var(--rand) * 6deg));
  }

  &:hover dd {
    visibility: visible;
  }

  @keyframes Jump {
    0% {
      transform: translateY(+0px);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}

.EventList {
  $list: & !global;

  &-header {
    display: flex;
    align-items: center;
    gap: $spacing2;
    margin-bottom: $spacing2;
  }

  &-title {
    font-size: $font-size2;
    text-shadow: $color-shadow-text 3px 0 4px;

    @include desktop {
      font-size: $font-size3;
    }
  }

  &-items {
    display: flex;
    flex-direction: column;
    gap: $spacing4;

    @include desktop {
      gap: $spacing0;
    }
  }
}

.EventFallback {
  margin-left: $spacing4;
  font-size: $font-size2;
  text-shadow: $color-shadow-text 3px 0 4px;
  color: $blue0;
  transform: skew(-2deg, -2deg);

  @include desktop {
    max-width: 600px;
  }

  &-text {
    display: inline-block;

    &:hover {
      animation: 0.1s FallbackShake infinite linear;
    }

    @keyframes FallbackShake {
      0% {
        transform: translateX(+0px);
      }

      25% {
        transform: translateX(-2px);
      }

      75% {
        transform: translateX(+2px);
      }

      100% {
        transform: translateX(+0px);
      }
    }
  }
}

.EventCard {
  $c: &;

  $poster-width: 200px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: $poster-width;
  opacity: max(calc(1 - var(--index) * 0.02), 0.1);
  transition: opacity 0.3s;

  @include desktop {
    width: $desktop-max;
    margin-left: calc(
      min(var(--index) / 32, 1) * (var(--rand) - 0.5) * 2 * 20vw
    );
    padding-left: $poster-width + $spacing2;
  }

  &:hover {
    opacity: 1;
    z-index: 420 !important;
  }

  // TODO: this won't work on older browsers; maybe need a js fallback solution
  #{$list}:has(input:checked) & {
    margin-left: 0px !important;
    opacity: 0.9 !important;
  }

  &-poster {
    @include flex-center;

    position: absolute;
    left: 0;
    cursor: zoom-in;
  }

  &-posterFrame {
    $poster-rotate: (
      translateX(calc(-10px + var(--rand) * 20px))
        rotate(calc(-1deg + var(--rand) * 2deg))
    );

    position: relative;
    display: flex;
    align-items: center;
    width: $poster-width;
    height: $poster-width;
    transform: $poster-rotate;
    transition: transform 0.3s;

    #{$c}:hover & {
      transform: $poster-rotate skew(-2deg, -2deg);
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $radius0;
    }
  }

  &-posterBoshi {
    $rot-dist: calc($poster-width / 2 * sqrt(2));
    $rot-min: 90deg;
    $rot-span: 180deg;

    position: absolute;
    height: 50px;
    z-index: -1;
    transition: transform 0.3s;

    > img {
      width: 100%;
      height: 100%;
      filter: drop-shadow(0px 0px 10px $color-shadow-card);
    }

    #{$c}:hover & {
      transform: (
        translateX(calc($rot-dist * cos($rot-min + var(--rand) * $rot-span)))
          translateY(calc($rot-dist * sin($rot-min + var(--rand) * $rot-span)))
      );
    }
  }

  &-body {
    display: contents;
  }

  .-body-row {
    transform-origin: left center;
    transform: rotate(calc(-6deg + var(--rand) * 12deg));
    transition: transform 0.3s;
  }

  @mixin body-row {
    @extend .-body-row;

    #{$c}:hover & {
      transform: skew(-4deg, -4deg);
    }
  }

  &-name {
    @include body-row();

    order: 2;
    position: relative;
    left: -30px;
    font-size: $font-size2;
    text-shadow: $color-shadow-text 3px 0 1px;
    text-decoration: underline $coral 2px;
  }

  &-anchor {
    position: relative;
    color: $black;

    #{$c}:hover & {
      &::before {
        content: "";

        @include background($riso: 3, $color: rgba($coral, 0.4));

        position: absolute;
        left: 0;
        right: 0;
        top: $spacing2;
        bottom: $spacing2;
        z-index: -1;
      }
    }
  }

  &-date {
    @include body-row();

    order: 1;
    position: relative;
    // position: absolute;
    // font-size: $font-size4;
    text-transform: lowercase;
    color: $white;
    mix-blend-mode: difference;
    text-shadow: $color-shadow-text 3px 0 4px;

    @include mobile {
      top: -35px;
      left: -20px;
      transform: rotate(-2deg);
    }

    @include desktop {
      left: -60px;
      font-size: 1.8rem;
    }
  }

  &-text {
    @include body-row();

    order: 3;
    position: relative;
    padding: $spacing1;
    box-shadow: 10px 10px 20px $color-shadow-card;
    max-width: 500px;
    margin-top: $spacing2;

    &:before {
      content: "";

      @include background($riso: 6);
      @include fill();

      opacity: 0.6;
      z-index: -1;
      filter: blur(10px);
    }
  }

  &-desc {
    // this is nececessary for the text to be selectable over the
    // absolutely positioned border that is a sibling of this el
    position: relative;
  }
}
