/* -- Home -- */
.Home {
  &-events {
    margin-top: $spacing2;
  }
}

/* -- HomeTitle -- */
.HomeTitle {
  font-size: $fontSize4;

  @mixin desktop {
    font-size: $fontSize5;
  }

  &-shake {
    display: inline-block;
    animation: Shake 0.3s infinite linear;
  }

  @keyframes Shake {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(2deg);
    }

    75% {
      transform: rotate(-2deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

/* -- HomeEvent -- */
.HomeEvent {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: $spacing0;
  padding: $spacing2;
  border: 1px dashed black;

  &-name {
    font-size: $fontSize2;

    @mixin desktop {
      font-size: $fontSize3;
    }
  }

  &-poster {
    width: auto;
    height: auto;
    max-width: calc(300px - $spacing2 * 2);
  }
}