/* -- Home -- */
.Home {
  &-events {
    padding-bottom: $spacing5;
  }

  &-eventList {
    margin-top: $spacing5;
  }
}

/* -- HomeTitle -- */
.HomeTitle {
  position: relative;
  font-size: $font-size4;

  @mixin desktop {
    font-size: $font-size5;
  }
}

.HomeWord {
  display: inline-block;
  position: relative;

  &:hover {
    color: $color-primary;
    animation: Shake 0.3s linear;
    z-index: 1;
  }

  dd {
    position: absolute;
    visibility: hidden;
    font-size: $font-size0;
    transform: rotate(calc(-3deg + var(--rand) * 6deg));
  }

  dt:hover + dd {
    visibility: visible;
  }

  @keyframes Shake {
    0% {
      transform: translateX(+0px);
    }

    25% {
      transform: translateX(-1px) rotate(-0.5deg);
    }

    75% {
      transform: translateX(+1px) rotate(+0.5deg);
    }

    100% {
      transform: translateX(+0px);
    }
  }
}

/* -- HomeEventList -- */
.HomeEventList {
  display: flex;
  flex-direction: column;
  gap: $spacing6;

  &-header {
    display: flex;
    align-items: center;
    gap: $spacing2;
    margin-bottom: $spacing2;
  }

  &-header:has(input:checked) ~ .HomeEvent {
    margin-left: 0px !important;
  }

  &-title {
    font-size: $font-size2;

    @mixin desktop {
      font-size: $font-size3;
    }
  }
}

/* -- HomeEvent -- */
.HomeEvent {
  display: flex;
  width: $desktop-max;

  &-poster {
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    z-index: -1;
  }

  &-posterImage {
    position: absolute;
    width: 268px;
    height: 268px;
    border: 2px dashed $white;
    transform: translateX(calc(-10px + var(--rand) * 20px)) rotate(calc(-1deg + var(--rand) * 2deg));
    mix-blend-mode: multiply;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &-body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: $spacing1;
    padding: $spacing2;
    transform: rotate(calc(-1deg + var(--rand) * 2deg));
    mix-blend-mode: hard-light;

    &:hover {
      border-color: $color-primary;
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-secondary;
    z-index: -1;
  }

  &-title {
    display: flex;
    align-items: baseline;
    gap: $spacing1;
  }

  &-name {
    font-size: $font-size2;

    @mixin desktop {
      font-size: $font-size3;
    }
  }

  &-date {
    font-size: $font-size0;

    @mixin desktop {
      font-size: $font-size1;
    }
  }
}

.HomeEventBorder {
  overflow: visible;
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);

  &-shape {
    width: 100%;
    height: 100%;
    fill: $clear;
    stroke: $black;
    stroke-width: 2px;
    stroke-dasharray: 6px 6px;
    stroke-dashoffset: 0;
  }

  &--white &-shape {
    stroke: $white;
  }

  &--rainbow &-shape {
    animation:
      BorderMarch 3s linear forwards infinite,
      BorderRainbow 3s linear infinite;
  }

  @keyframes BorderMarch {
    0%   { stroke-dashoffset: 0 }
    100% { stroke-dashoffset: -60px; }
  }

  @keyframes BorderRainbow {
    0%   { stroke: #ff0000; }
    10%  { stroke: #ff0000; }
    30%  { stroke: #ffff00; }
    50%  { stroke: #00ffff; }
    70%  { stroke: #0000ff; }
    90%  { stroke: #ff00ff; }
    100% { stroke: #ff0000; }
  }
}