/* -- Home -- */
.Home {
  &-events {
    margin-top: $spacing2;
  }
}

/* -- HomeTitle -- */
.HomeTitle {
  position: relative;
  font-size: $font-size4;

  @mixin desktop {
    font-size: $font-size5;
  }
}

.HomeWord {
  display: inline-block;
  position: relative;

  &:hover {
    color: $color-primary;
    animation: Shake 0.3s infinite linear;
    z-index: 1;
  }

  dd {
    position: absolute;
    visibility: hidden;
    font-size: $font-size0;
  }

  dt:hover + dd {
    visibility: visible;
  }

  @keyframes Shake {
    0% {
      transform: translateX(+0px);
    }

    25% {
      transform: translateX(-1px) rotate(-0.5deg);
    }

    75% {
      transform: translateX(+1px) rotate(+0.5deg);
    }

    100% {
      transform: translateX(+0px);
    }
  }
}

/* -- HomeEvent -- */
.HomeEvent {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: $spacing0;
  padding: $spacing2;
  border: 1px dashed black;

  &-name {
    font-size: $font-size2;

    @mixin desktop {
      font-size: $font-size3;
    }
  }

  &-poster {
    width: auto;
    height: auto;
    max-width: calc(300px - $spacing2 * 2);
  }
}