$landing-nav: null;

.Nav {
  .Landing ~ & {
    $landing-nav: & !global;

    --scale: 2;

    &::before {
      opacity: 1;
    }

    @include mobile {
      justify-content: center;
    }
  }

  #{$landing-nav} &-items {
    @include mobile {
      right: unset;
    }

    @include desktop {
      top: 50%;
      right: 50%;
    }
  }

  #{$landing-nav} &-menu {
    @include desktop {
      margin-top: -50%;
      margin-left: 50%;
    }
  }
}
