<div class="Nav">
  <nav class="Nav-links">
    <ul>
      <li class="Nav-link"><a href="/home">events</a></li>
      <li class="Nav-link"><a>about</a></li>
      <li class="Nav-link"><a>archive</a></li>
      <li class="Nav-link"><a>comradery</a></li>
      <li class="Nav-link"><a>merch</a></li>
      <li class="Nav-link"><a>blog</a></li>
    </ul>
  </nav>
</div>