html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/boshis-all.png");
  background-color: white;
  color: #BB5F61;
  font-size: xx-large;
}

::selection {
  background-color: #5B9ED2;
  color: #5B9ED2;
}

a:visited {
  color: #9b7487;
  outline-color: #5B9ED2
}

a:hover {
  color: #5B9ED2;
}

a {
  color: #BB5F61;
}

.Title {
  padding: 10px;
  background-color: #5B9ED2;
}

.Events {
  padding: 10px;
  margin: 20px;
  width: 60%;
  background-color: #5B9ED2;
}

.Links {
  padding: 10px;
  background-color: #5B9ED2;
  margin-bottom: 20px;
}

.Link {
}

.Event {
  padding: 20px;
  background-color: #5B9ED2;
}