/* -- colors -- */
$blue0: #0000ff;
$blue1: #0077c8;
$blue2: #f0f8ff;
$coral: #ff808b;
$magenta: #ff00ff44;
$pink: pink;
$yellow: #ffee6c;

/* -- grays -- */
$black: #000000;
$white: #ffffff;
$gray0: #eeeeee;
$clear: #ffffff00;

/* -- semantic -- */
$color-border: #00000033;
$color-border-white: #ffffffaa;
$color-border-primary: $blue0;

$color-shadow-text: $pink;
$color-shadow-page: $magenta;
$color-shadow-card: $magenta;
