/* -- colors -- */
$blue0: #0000ff;
$blue1: #0077c8;
$blue2: #f0f8ff;
$coral: #ff808b;

/* -- grays -- */
$black: #000000;
$white: #ffffff;
$gray0: #eeeeee;
$clear: #ffffff00;

/* -- semantic -- */
$color-border0: #00000033;
$color-border1: #ffffffaa;
$color-shadow0: #ff00ff44;
$color-shadow1: pink;
