/* -- config -- */
$font-family: serif;
$font-size-base: 16px;

/* -- sizes -- */
$font-size0: 1.1rem;
$font-size1: 1.3rem;
$font-size2: 2.5rem;
$font-size3: 3rem;
$font-size4: 4rem;
$font-size5: 5.4rem;

/* -- weights -- */
$font-weight-regular: 400;
$font-weight-medium: 500;