/* -- config -- */
$font-family: serif;
$font-size-base: 18px;

/* -- sizes -- */
$font-size0: 1.1rem;
$font-size1: 1.3rem;
$font-size2: 1.7rem;
$font-size3: 2.5rem;
$font-size4: 3rem;
$font-size5: 3.5rem;
$font-size6: 4rem;
$font-size7: 5.4rem;
$font-size8: 6.6rem;

/* -- weights -- */
$font-weight-regular: 400;
$font-weight-medium: 500;
