@mixin fill {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@mixin background {
  background-image: url("/img/textures/riso1.png");
  background-blend-mode: luminosity;
  background-color: $blue1;
}
