@mixin fill {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@mixin background($riso: 1, $color: $blue1) {
  background-image: url("/img/textures/riso#{$riso}.png");
  background-blend-mode: luminosity;
  background-color: $color;
}
