/* -- page margins -- */
$margin-mobile-vertical: 15px;
$margin-mobile-horizontal: 25px;
$margin-desktop-vertical: 25px;
$margin-desktop-horizontal: 50px;

/* -- spacings -- */
$spacing0: 5px;
$spacing1: 10px;
$spacing2: 15px;
$spacing3: 20px;
$spacing4: 30px;
$spacing5: 45px;
$spacing6: 60px;
$spacing7: 75px;
$spacing8: 90px;
