<div class="Nav">
  <nav class="Nav-links">
    <ul>
      {% render "./NavLink", url: "/home", name: "events" %}
      {% render "./NavLink", url: "/about", name: "about" %}
      {% render "./NavLink", name: "archive" %}
      {% render "./NavLink", name: "blog" %}
      {% render "./NavLink", name: "merch" %}
      {% render "./NavLink", name: "community board" %}
      {% render "./NavLink", name: "comradery" %}
    </ul>
  </nav>
</div>
