---
layout: Page.liquid
section: event-detail
title: boshi's place | event
description: event
---

<h1 class="EventDetailTitle">
  {{ name }}
</h1>
<img src={{poster.src}} "(max-width: 200px)" alt={{poster.alt}}/>
{{ content }}