<article class="EventDetail-body">
  <h1 class="EventDetail-title">
    {{ name }}
  </h1>

  <h2 class="EventDetail-date">{{ date | toLongDate }}</h2>

  <figure class="EventDetail-posterFrame">
    {% img poster "(max-width: 200px)" %}
  </figure>

  <section class="EventDetail-content">
    {{ content }}
  </section>
</article>
