---
layout: Page.liquid
section: events
title: boshi's place | events
description: welcome to boshi's place
---
<h1 class="Events-title">
  <dl>
    {% render "events/EventsWord",
      small: true,
      text: "welcome",
      defn: "hello, happy to find you here, on our website"
    %}

    {% render "events/EventsWord",
      small: true,
      text: "to",
      defn: "see what events we have upcoming, or have run previously, look here v"
    %}

    {% render "events/EventsWord",
      text: "boshi's",
      defn: "a creature, blue, articulated by sunglasses and spiked accessories"
    %}

    {% render "events/EventsWord",
      text: "place",
      defn: "a space, residence, home"
    %}
  </dl>
</h1>

<!-- ~*~ Events ~*~ -->
<section class="Events-content Page-main">
  <div class="Page-border">
    {% render "core/Border", color: "primary" %}
  </div>

  {% capture upcoming %}
    {% if collections.upcomingEvents.size == 0 %}
      <div class="EventFallback">
        <span class="EventFallback-text">
          we don't have anything planned right now, check back later!
        </span>
      </div>
    {% endif %}

    {% for event in collections.upcomingEvents %}
      {% assign rainbow = forloop.index == 1 %}
      {%
        render "events/EventCard"
        event: event
        forloop: forloop
        rainbow: rainbow
      %}
    {% endfor %}
  {% endcapture %}

  {% render "events/EventList", name: "upcoming events", content: upcoming %}

  {% capture past %}
    {% for event in collections.pastEvents %}
      {%
        render "events/EventCard"
        event: event
        forloop: forloop
      %}
    {% endfor %}
  {% endcapture %}

  {% render "events/EventList", name: "past events", content: past %}
</section>
