---
layout: Page.liquid
section: about
title: boshi's place | about
description: about
---
<h1 class="AboutTitle">boshi's place is a cool space</h1>

<p class="About-description">
  a community-funded space that celebrates game-making as a craft and *something
  related to play/experience*
</p>

<p>1002 Metropolitan Ave, Brooklyn, NY</p>

<section class="AboutMembers">
  <img class="AboutMembers-map" src="/img/boshi-map.jpg">

  <ul class="AboutMembers-list">
    <li>joey</li>
    <li>flan</li>
    <li>phil</li>
    <li>mut</li>
    <li>ty</li>
    <li>fran</li>
    <li>fiona</li>
    <li>annie</li>
    <li>danny</li>
    <li>jude</li>
    <li>eva</li>
    <li>beau</li>
    <li>jonny</li>
    <li>ali</li>
    <li>and you...</li>
  </ul>
</section>
