---
layout: Page.liquid
section: about
title: boshi's place | about
description: about
---
<h1 class="About-title">boshi's place is...</h1>

<section class="Page-main">
  <div class="Page-border">
    {% render "core/Border", color: "primary" %}
  </div>

  <section class="About-content">
    <p class="About-description">
      a group of people building community and support for the independent game
      development scene in new york city and the surrounding area. we aim to do
      this by providing a physical space for working, exhibiting games, and
      staging performances, as well as facilitating game jams and educational
      workshops.
    </p>

    <article class="About-map BoshiMap">
      <img
        usemap="#boshi-map"
        class="BoshiMap-image"
        src="/img/about/boshi-map.jpg"
      >

      <p class="BoshiMap-address">
        <span class="BoshiMap-addressText"
          >1002 Metropolitan Ave, Brooklyn, NY</span
        >
      </p>
      <map name="boshi-map">
        <area
          shape="circle"
          coords="800,400,95"
          href="https://developer.mozilla.org/docs/Web/CSS"
          target="_blank"
          alt="1002 Metropolitan Ave, Brooklyn, NY 11211"
        >
      </map>
    </article>
  </section>
</section>
