---
layout: Page.liquid
section: about
title: boshi's place | about
description: about
---
<h1 class="About-title">boshi's place is...</h1>

<section class="Page-main">
  <div class="Page-border">
    {% render "core/Border", color: "primary" %}
  </div>

  <section class="About-content">
    <p class="About-description">
      a group of people building community and support for the independent game
      development scene in new york city and the surrounding area. we aim to do
      this by providing a physical space for working, exhibiting games, and
      staging performances, as well as facilitating game jams and educational
      workshops.
    </p>

    <article class="About-members AboutMembers">
      <ul class="AboutMembers-active">
        {% for member in collections.members %}
          <li class="AboutMember">
            <svg viewBox="0 0 100 100" class="AboutMember-shape">
                {% case 100 | randint | modulo: 4 %}
                {% when 0 %}
                  <rect width="80" height="80" x="10" y="10"/>
                {% when 1 %}
                  <circle cx="50" cy="50" r="50" />
                {% when 2 %}
                  <polygon points="0,100 100,100 50,0" />
                {% when 3 %}
                  <polygon points="0,90 70,90 100,10 30,10" />
              {% endcase %}
            </svg>
            <p class="AboutMember-name">{{ member.data.page.fileSlug }}</p>
          </li>
        {% endfor %}
      </ul>
    </article>

    <article class="About-map AboutMap">
      <img
        usemap="#boshi-map"
        class="AboutMap-image"
        src="/img/about/boshi-map.jpg"
      >

      <p class="AboutMap-address">
        <span class="AboutMap-addressText"
          >1002 Metropolitan Ave, Brooklyn, NY</span
        >
      </p>
      <map name="boshi-map">
        <area
          shape="circle"
          coords="800,400,95"
          href="https://developer.mozilla.org/docs/Web/CSS"
          target="_blank"
          alt="1002 Metropolitan Ave, Brooklyn, NY 11211"
        >
      </map>
    </article>
  </section>
</section>
