<div
  class="
    EventsWord
    {% if small %}
      EventsWord--small
    {% endif %}
  "
  style="{% randvar %}"
>
  <div class="EventsWord-text">
    <dt>{{ text }}</dt>
    <dd>{{ defn }}</dd>
  </div>
</div>
