<div class="UnderConstruction">
  <h1 class="UnderConstruction-title" style="{% randvar %}">
    under construction!!!
  </h1>
  <div class="UnderConstruction-banner" style="--index: 1; {% randvar %}"></div>
  <div class="UnderConstruction-banner" style="--index: 2; {% randvar %}"></div>
</div>
