---
layout: Page.liquid
section: about
title: boshi's place | about
description: about
---

<h1 class="AboutTitle">
  boshi's place is
</h1>

<p>a community-funded space that celebrates game-making as a craft and *something related to play/experience*</p>
<p>1002 Metropolitan Ave, Brooklyn, NY</p>