---
layout: Page.liquid
section: home
title: boshi's place
description: welcome to boshi's place
---

<h1 class="HomeTitle">
  <dl>
    {%
      render "home/HomeWord"
      text: "welcome"
      defn: "a friendly greeting"
    %}

    {%
      render "home/HomeWord"
      text: "to"
      defn: "a preposition linking the greeting to what follows"
    %}

    {%
      render "home/HomeWord"
      text: "boshi's"
      defn: "a blue thing articulated by their sunglasses and spiked accessories"
    %}

    {%
      render "home/HomeWord"
      text: "place"
      defn: "a space, residence, home"
    %}
  </dl>
</h1>

<!-- ~*~ Events ~*~ -->
<section class="Home-events">
  {%
    render "home/HomeEventList"
    name: "upcoming events"
    events: collections.upcomingEvents
  %}

  {%
    render "home/HomeEventList"
    name: "past events"
    events: collections.pastEvents
  %}
</section>