---
layout: Page.liquid
section: home
title: boshi's place
description: welcome to boshi's place
---

<h1 class="HomeTitle">
  <dl>
    {%
      render "home/HomeWord"
      text: "welcome"
      defn: "a friendly greeting"
    %}

    {%
      render "home/HomeWord"
      text: "to"
      defn: "a preposition linking the greeting to what follows"
    %}

    {%
      render "home/HomeWord"
      text: "boshi's"
      defn: "a blue thing articulated by their sunglasses and spiked accessories"
    %}

    {%
      render "home/HomeWord"
      text: "place"
      defn: "a space, residence, home"
    %}
  </dl>
</h1>

<!-- ~*~ Events ~*~ -->
<section class="Home-events HomeEvents">
  <h1 class="HomeEvents-title">upcoming events</h1>

  {% for event in collections.upcomingEvents %}
    {% render "home/HomeEvent", event: event, forloop: forloop %}
  {% endfor %}
</section>

<section class="Home-events HomeEvents">
  <h1 class="HomeEvents-title">past events</h1>

  {% for event in collections.pastEvents %}
    {% render "home/HomeEvent", event: event, forloop: forloop %}
  {% endfor %}
</section>