---
layout: Page.liquid
section: home
title: boshi's place
description: welcome to boshi's place
---

<h1 class="HomeTitle">
  welcome to boshi's <span class="HomeTitle-shake">place</span>
</h1>

<!-- ~*~ Events ~*~ -->
<section class="Home-events">
  {% render "home/HomeEvent.liquid" for collections.events as event %}
</section>